@import "fontandcolor"
/* 左边树菜单 */
.his-manage-leftree-container
  width: 12%
  height: 70%
  background: $themeColors
  .father
    width: 100%
    cursor: pointer
    .his-manage-leftree-fchild
      width: 100%
      padding-left: 20px
      cursor: pointer
      .his-manage-leftree-schild
        width: 100%
        padding-left: 40px
        cursor: pointer